USE [master]
GO
/****** Object:  Database [CSharpDB]    Script Date: 6/7/2022 5:52:34 PM ******/
CREATE DATABASE [CSharpDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSharpDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CSharpDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSharpDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CSharpDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSharpDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSharpDB]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 6/7/2022 5:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wine]    Script Date: 6/7/2022 5:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[BrandID] [int] NOT NULL,
 CONSTRAINT [PK_Wine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([ID], [Name]) VALUES (1, N'Antinori')
INSERT [dbo].[Brand] ([ID], [Name]) VALUES (2, N'Villa Maria')
SET IDENTITY_INSERT [dbo].[Brand] OFF
SET IDENTITY_INSERT [dbo].[Wine] ON 

INSERT [dbo].[Wine] ([ID], [Name], [BrandID]) VALUES (1, N'Tenute', 1)
INSERT [dbo].[Wine] ([ID], [Name], [BrandID]) VALUES (2, N'Seaspray Sauvignon Blanc', 2)
SET IDENTITY_INSERT [dbo].[Wine] OFF
ALTER TABLE [dbo].[Wine]  WITH CHECK ADD  CONSTRAINT [FK_Wine_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Wine] CHECK CONSTRAINT [FK_Wine_Brand]
GO
USE [master]
GO
